<ion-header>

  <ion-navbar>
    <ion-title>My Projects</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="card-background-page">
<ion-list>
  <ion-item (click)="gotoPage(ChatscreenPage)" text-wrap no-lines *ngFor="let key of [1,2,3]">
    <ion-avatar item-left>
      <img src="../../assets/imgs/Anu-Bhardwaj.png">
    </ion-avatar>
    <h2 color="primary">Anu Bhardwaj</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit...</p>
  </ion-item>
  

</ion-list>

<ion-slides>
  <ion-slide *ngFor="let c of [1,2,3,4,5,6]">
    <ion-card>
      <img src="assets/imgs/item1.png" />
      <div class="card-title">Amsterdam</div>
    </ion-card>
    
  </ion-slide>
</ion-slides>

</ion-content>
