<ion-header>
  <ion-navbar color="light">
    <ion-title>
      {{contact?.name}}'s Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-toolbar class="profile" color="primary">
    <img class="profile-image" src="{{contact?.userImage || 'assets/imgs/user.png'}}" />
    <h4>{{contact?.name}}</h4>
    <h5>{{contact?.phone}}</h5>
    <h6><i>{{contact?.status}}</i></h6>
  </ion-toolbar>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <p>About me:</p>
          </ion-col>
          <ion-col col-8>
            <p>{{contact?.about}}</p>
          </ion-col>
          <ion-col col-4>
            <p>From:</p>
          </ion-col>
          <ion-col col-8>
            <p>{{contact?.address}}</p>
          </ion-col>
        </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <button ion-button block [disabled]="!contact?.phone" (click)="call()">Call</button>
          </ion-col>
          <ion-col col-6>
            <button ion-button block [disabled]="!contact?.wallets.length" (click)="sendMoney()">Send money</button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <button ion-button block [disabled]="!contact" (click)="chat()">Chat</button>
          </ion-col>
          <ion-col col-6>
            <button ion-button block [disabled]="!contact?.wallets.length" (click)="requestMoney()">Request money</button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <button ion-button block *ngIf="!isFriend" [disabled]="isFriendRequested" (click)="addToFriends()">Add to friends</button>
      <button ion-button block *ngIf="isFriend" (click)="removeFromFriends()">Remove from friends</button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="stories?.length === 0">
    <ion-card-title>
      <p>{{contact?.name}} has not shared any stories...</p>
    </ion-card-title>
  </ion-card>


  <ion-card *ngFor="let content of stories" (click)="presentPostModal(content._id)">
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/user.png" />
      </ion-avatar>
    </ion-item>
    <img src="{{content?.image}}">
    <ion-card-content>
      <p>{{content?.content}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="download"></ion-icon>
          <!-- <div>{{content.likes.length}} Saves</div> -->
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="text"></ion-icon>
          <div>{{content?.comments.length}} Comments</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="open"></ion-icon>
          <div>Apply</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>