<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="assets/imgs/title-logo.png" width="50px" />
    </ion-title>
    <ion-buttons end>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="cards-bg social-cards page-bg">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingText='<img src="assets/imgs/loading.gif"/>'>
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let content of contentList" class="storyCard">
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/user.png" />
      </ion-avatar>
      <h2>{{content.PostByUser.name}}</h2>
      <p>Yesterday</p>
    </ion-item>

    <div (click)="presentPostModal(content.Id)">
      <img src="{{content.image}}" />
      <ion-card-content>
        <p>{{content.content}}</p>
        <ion-card *ngIf="content?.isShared">
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/imgs/user.png" />
            </ion-avatar>
            <!-- <h2>{{content?.parent.user?.name}}</h2> -->
            <p>Yesterday</p>
          </ion-item>
          <ion-card-content>
            <p>{{content.parent?.content}}</p>
          </ion-card-content>
        </ion-card>

      </ion-card-content>
    </div>

    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small (click)="like(content.Id)">
          <ion-icon name="download"></ion-icon>
          <div>{{content.likesCount}} Saves</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small (click)="presentPostModal(content.Id)">
          <ion-icon name="text"></ion-icon>
          <div>{{content.commentsCount}} Comments</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small (click)="share(content.Id)">
          <ion-icon name="open"></ion-icon>
          <div>Apply</div>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="presentCreateModal($event)">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
