<!--
  Generated template for the OtppagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>otppage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="recaptcha-container"></div>
  <div *ngIf="flag==0">
    <ion-list no-lines>
      <button ion-button id="GenOTP" color="primary" text-center outline rounded (click)="GenOTP()">GenerateOTP</button>
    </ion-list>
  </div>
  <div *ngIf="flag==1">
    <ion-list no-lines>
      <ion-item margin-bottom>
        <ion-input placeholder="Enter OTP" type="number"></ion-input>
      </ion-item>
      <button ion-button color="primary" text-center outline rounded (click)="GenOTP()">ResendOTP</button>
      <button ion-button color="primary" text-center outline rounded (click)="verOTP()" [(ngModel)]="OTP">Continue</button>
    </ion-list>
  </div>

</ion-content>
