page-chatscreen {

    .user_name {
        color: #afafaf;
    }
    .message {
        padding: 10px !important;
        transition: all 250ms ease-in-out !important;
        border-radius: 10px !important;
        margin-bottom: 4px !important;
    }
    .my_message {
        background: color($colors, chatbubble) !important;
        color: color($colors, light) !important;
    }
    .other_message {
        background: color($colors, light) !important;
        color: color($colors, primary) !important;
    }
    .time {
        color: #afafaf;
        float: right;
        font-size: small;
    }
    .message_row {
        background-color: #fff;
    }
    .avatar{
        width: 100px;
    }
    .titleicon {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align:center;
}

}
