<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{recieverName}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="sendPicMsg()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid #content >
    <ion-row *ngFor="let message of messagesList">

      <ion-col col-9 *ngIf="message.from !== sender" class="message" [ngClass]="{'my_message': message.from === sender, 'other_message': message.from !== sender}">
        <span class="user_name">{{ message.sender }}:</span>
        <br>
        <span>{{ message.text }}</span>
        <div class="time">{{message.created | date:'dd.MM hh:MM'}}</div>
      </ion-col>

      <ion-col offset-3 col-9 *ngIf="message.from === sender" class="message" [ngClass]="{'my_message': message.from === sender, 'other_message': message.from !== sender}">
        <span class="user_name">{{ message.sender }}:</span>
        <br>
        <span>{{ message.text }}</span>
        <div class="time">{{message.created | date:'dd.MM hh:MM'}}</div>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="message_row">
      <ion-col col-9>
        <ion-item no-lines>
          <ion-input type="text" placeholder="Type a message" [(ngModel)]="newmessage"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <button ion-button clear color="primary" (click)="send()" [disabled]="message === ''">
          Send
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>