<ion-header>

  <ion-navbar color="primary">
     <ion-title (click)="openPage('UserprofilePage', reciever)">
      {{recieverName}}</ion-title>
    <ion-buttons end>
      <img src="assets/imgs/user.png" width="40px" style="display:inline-block" height="40px" />
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid #content >
    <ion-row *ngFor="let message of messagesList">

      <ion-col col-9 *ngIf="message.from !== sender" class="message" [ngClass]="{'my_message': message.from === sender, 'other_message': message.from !== sender}">
        <span class="user_name">{{ message.sender }}:</span>
        <br>
        <span [innerHtml]="sanitizer.bypassSecurityTrustHtml(message.text)"></span>
        <span>
          <button *ngIf="message.type" ion-button round (click)="payAmount(message.amount)">Pay</button>
        </span>
        <div class="time">{{message.created | date:'dd.MM hh:MM'}}</div>
      </ion-col>

      <ion-col offset-3 col-9 *ngIf="message.from === sender" class="message" [ngClass]="{'my_message': message.from === sender, 'other_message': message.from !== sender}">
        <span class="user_name">{{ message.sender }}:</span>
        <br>
        <span [innerHtml]="sanitizer.bypassSecurityTrustHtml(message.text)"></span>
        <span>
          <!-- <button *ngIf="message.type" ion-button round (click)="payAmount(message.amount)">Pay</button> -->
        </span>
        <div class="time">{{message.created | date:'dd.MM hh:MM'}}</div>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="message_row">
      <ion-col col-8>
        <ion-item no-lines>
          <ion-input type="text" placeholder="Type a message" [(ngModel)]="newmessage" (keyup.enter)="send()"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-1>
      <button ion-button icon-only color="white" (click)="attach($event)">
        <ion-icon name="attach"></ion-icon>
      </button>
      </ion-col>
      <ion-col col-3>
        <button ion-button clear color="primary" (click)="send()" [disabled]="message === ''">
          Send
        </button>
       
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>