<ion-header>

  <ion-navbar>
    <ion-title>Send Recieve</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<!-- <ion-card>
  <ion-card-content>
    <canvas #doughnutCanvas></canvas>
  </ion-card-content>
</ion-card> -->
<ion-card>
  <ion-card-content text-center>
    <button ion-button round outline (click)="presentCreateModal('SendcoinPage')">SEND</button>
  <button ion-button round outline (click)="presentCreateModal('RecievecoinPage')">RECIEVE</button>

  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <!-- <button ion-button icon-only clear (click)="changeProfilePage('trends')">
      <ion-icon name="analytics"></ion-icon>
    </button> -->
    Transaction History 
  </ion-card-header>
  <ion-card-content>    
    <ion-list>    
      <ion-item *ngFor="let data of transferData" >
        <ion-icon *ngIf="data.value > 0" item-left [ngClass]="{secondary: data.state === 'confirmed', warning: data.state === 'unconfirmed'}" name="arrow-dropup-circle"></ion-icon>           
        <ion-icon *ngIf="data.value < 0" item-left [ngClass]="{secondary: data.state === 'confirmed', warning: data.state === 'unconfirmed'}" name="arrow-dropdown-circle"></ion-icon>               
        <h3><b><ion-icon name="logo-bitcoin"></ion-icon>{{(data.value)/100000000}}</b> on <span text-right>{{data.date | date:'dd.MM hh:mm'}}</span></h3>
      </ion-item>
    </ion-list>
  </ion-card-content>

</ion-card>
 
</ion-content>
