header-menu {
background: url("../../assets/imgs/cardbg2.jpg");
  .menu-item{
      background: transparent !important;
      color: #ffffff;
  }
  .profile {
    text-align: center;
    color: #ffffff;
    // background: url("imgs/banner.png");
    background: color($colors, "profile");
    padding-top: 10px;
    padding-bottom: 10px;
}
}
