
<ion-header>
  <ion-navbar>
    <ion-title>Post your Content</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon item-right name="ios-close-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>


    <ion-row text-center justify-content-around>
   

        <ion-col>
          <div (click)="dataset(1)">
            <ion-icon name="images" style="zoom:3.0;" [color]="datacheck==1 ? 'accent' : 'icons'"></ion-icon>
            <h4 class="card-title" color='icons'>Post</h4>
          </div>
        </ion-col>
        <ion-col>
          <div (click)="dataset(2)">
            <ion-icon name="flash" style="zoom:3.0;" [color]="datacheck==2 ? 'accent' : 'icons'"></ion-icon>
            <h4 class="card-title" color='icons'>Project</h4>
          </div>
        </ion-col>
        <ion-col>
          <div (click)="dataset(3)">
            <ion-icon name="cart" style="zoom:3.0;" [color]="datacheck==3 ? 'accent' : 'icons'"></ion-icon>
            <h4 class="card-title" color='icons'>Product</h4>
          </div>
        </ion-col>
    </ion-row>


  <ion-grid *ngIf="datacheck==1">
    <form [formGroup]="form1" (ngSubmit)="postContent()">

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>
             Whats on your mind today?
          </ion-label>
          <ion-textarea rows="8" formControlName="contentText"></ion-textarea>
        </ion-item>
        
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
          <button ion-button clear icon-start color="primary" (click)="selectImage()">
            <ion-icon name="attach" color='primary'></ion-icon> Add Media
          </button>
          </ion-col>
          <ion-col>
                <img src="{{storyImage}}" width="200">
          </ion-col>
      
      </ion-row>
      
    <ion-row text-center>
      <ion-col>
      <button ion-button round large color="accent" [disabled]="!form1.valid">Publish</button>
      </ion-col>
    </ion-row>
    </form>


  </ion-grid>

  <ion-grid *ngIf="datacheck==2">
      <form [formGroup]="form2" (ngSubmit)="postContent1()">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label floating>
                Whats your Project's title?
              </ion-label>
              <ion-input formControlName="contentText"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label floating>
                Describe your Project.
              </ion-label>
              <ion-textarea rows="8" formControlName="contentTextDescription"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
  
  
        <ion-row>
          <ion-col>
            <button ion-button clear icon-start color="primary" (click)="selectImage()">
              <ion-icon name="attach" color='primary'></ion-icon> Add Media
            </button>
          </ion-col>
          <ion-col>
            <img src="{{storyImage}}" width="200">
          </ion-col>
        </ion-row>
  
        <ion-row text-center>
          <ion-col>
            <button ion-button round large color="accent" [disabled]="!form2.valid">Publish</button>
          </ion-col>
        </ion-row>
      </form>
  
  
    </ion-grid>

    <ion-grid *ngIf="datacheck==3">
        <form [formGroup]="form3" (ngSubmit)="postContent2()">
          <ion-row>
            <ion-col>
            <ion-item>
              <ion-label floating>
                Name of the Product.
              </ion-label>
              <ion-input formControlName="contentText"></ion-input>
            </ion-item>
            </ion-col>
          </ion-row>
    
          <ion-row>
            <ion-col>
            <ion-item>
              <ion-label floating>
                Describe the Product.
              </ion-label>
              <ion-textarea rows="4" formControlName="contentTextDescription"></ion-textarea>
            </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label floating>
                    Product Price.
                  </ion-label>
                <ion-input type="number" formControlName="price"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label floating>
                      Total quantity.
                    </ion-label>
                  <ion-input type="number" formControlName="quantity"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
    
    
          <ion-row>
            <ion-col>
              <button ion-button clear icon-start color="primary" (click)="selectImage()">
                <ion-icon name="attach" color='primary'></ion-icon> Add Media
              </button>
            </ion-col>
              <ion-col>
                <img src="{{storyImage}}" width="200">
              </ion-col>
          </ion-row>
    
          <ion-row text-center>
            <ion-col>
              <button ion-button round large color="accent" [disabled]="!form3.valid">Publish</button>
            </ion-col>
          </ion-row>
        </form>
    
    
      </ion-grid>
  



</ion-content>
